rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // match any request to playlist, on utilise pas la double *, donc n'importe quel nom dans la variable signifie que l'on capture l'ID du doc, ici {docId}
    match /playlists/{docId} {
      // lire et créer des playlist si un user est authentifié
      allow read, create: if request.auth != null;
      // supprimer ou modifier des playlists si l'user correspond au créateur de cette playlist (resource)
      allow delete, update: if request.auth.uid == resource.data.userId
    }
  }
}